<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1>This is the login page</h1>
    <form class="loginID" action="/login" method="post">
      <input type="text" name="loginID" value="" placeholder="Type test here">
      <button type="submit" name="button">submit</button>
    </form>
  </body>
</html>
